table
{
    min-width: 600px;
    width: auto;
    background:white;
    border:black thin solid;
    float: left;
}
td,th{
    padding: 5px;
    text-align: left;
    border-bottom: dashed thin silver;
}